/* ici on va refaire tout le css */
:root {

    --clr-desaturated-dark-cyan: hsl(180, 29%, 50%);

    --clr-light-grayish-cyan : hsl(180, 52%, 96%);  /* (Background) */
    --clr-light-grayish-cyan : hsl(180, 31%, 95%);  /* (Filter Tablets) */
    --clr-dark-grayish-cyan: hsl(180, 8%, 52%);
    --clr-very-dark-grayish-cyan: hsl(180, 14%, 20%);

    --ff-base: 'League Spartan', sans-serif;
    --fw-base: 500;
    --fw-medium: 600;
    --fw-bold: 700;

    /* custom variables */
    --gap: 0.5rem;
    --padding: 0.4rem;
}

/* RESET CSS */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utilites  */

.flow-content > * + * {
    margin-top: 1rem;
}

.flex-group {
    display: flex;
    align-items:center;
    gap: var(--gap);
}

.flex-group[data-direction="column"] {
    flex-direction:column;
}

.container {
    padding: 3rem 8rem;
}

.container > * + * {
    margin-top: 2rem;
}

/* general properties  */

.tags {
    list-style-type: none;
}

/* Other elements  */
body {
    color: var(--clr-desaturated-dark-cyan);
    font-family: var(--ff-base);
    font-weight: var(--fw-base);
    background-color: var(--clr-light-grayish-cyan);
}

header {
    height: 150px;
    width: 100%;
    background-image: url("images/bg-header-mobile.svg");
    background-color: var(--clr-desaturated-dark-cyan);
}

@media (min-width: 1000px){
    header {
        background-image: url("images/bg-header-desktop.svg");
    }
}
.card {
    padding: 1rem 2rem;
    background-color: white;
    justify-content: space-between;
}

.job-content {
    align-items: start;
}

.job-title {
    color: var(--clr-very-dark-grayish-cyan);
    font-weight: var(--fw-bold);
}

.new {
    background-color: var(--clr-desaturated-dark-cyan);
}
.featured {
    background-color: var(--clr-very-dark-grayish-cyan);
}

.new,
.featured {
    color: white;
    font-size: 0.75rem;
    padding: var(--padding);
    text-transform: uppercase;
    border-radius: 2rem;
}

.job-info {
    color: var(--clr-dark-grayish-cyan);
}

li {
    color: var(--clr-desaturated-dark-cyan);
    background-color: var(--clr-light-grayish-cyan);
    padding: var(--padding);
}

li:is(:hover, :focus-visible){
    background-color: var(--clr-desaturated-dark-cyan);
    color: white;
}
