/* ici mon css */

/* :root{} */


/* reset css */

/* utiiites */
.container {
    padding: 4rem;
}

.wrapper {
    padding: 2rem;
}

/* custom properties */



/* On va juste override le border radius du style de button */
.button-footer {

    border-radius: 0;
}
